In [ ]:
Ans 1 A database is an organized collection of structured information, or data, typically stored electronically in a computer system.
      SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores. 
    SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON

In [ ]:
Ans 2 Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System).
DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP.
These commands are used to create or modify the tables in SQL.

CREATE :
This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.
ALTER :
This command is used to add, delete or change columns in the existing table.
The user needs to know the existing table name and can do add, delete or modify tasks easily.
TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists.
DROP :
This command is used to remove an existing table along with its structure from the Database.

In [ ]:
Ans 3 The structured query language (SQL) commands deal with the manipulation of data present in the database that belongs to the DML or Data Manipulation Language. 
This includes most of the SQL statements.
Insert:
Insert into <table_name> (column list) values (column values);
Delete:
Delete from <table_name>WHERE condition;
Update:    
UPDATE <table_name> SET column_number =value_number WHERE condition;

In [ ]:
Ans 4 DQL statements are used for performing queries on the data within schema objects.
The purpose of DQL commands is to get the schema relation based on the query passed to it.

The SELECT statement is used to select data from a database.
SELECT * FROM table_name;

In [ ]:
Ans 5 A primary key generally focuses on the uniqueness of the table. 
It assures the value in the specific column is unique. 
A foreign key is generally used to build a relationship between the two tables. 
The table allows only one primary key.

In [ ]:
Ans 6 
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()



A cursor is an object which helps to execute the query and fetch the records from the database. 
The cursor plays a very important role in executing the query.

execute()
This method accepts a MySQL query as a parameter and executes the given query.

In [ ]:
Ans 7 The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.